* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  margin-bottom: 30px;
}

.section__title {
  margin-left: 35px;
  color: green;
  font-weight: 500;
}

.input {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.curr {
  font-weight: 700;
}

.buttons {
  padding: 30px;
}